#main {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
}

#card {
    background-color: rgb(255, 226, 187);
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
    border: 1px solid pink;
    margin: 10px;
    padding: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.35);
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}