doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./index.css
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap")
        title Collections
    body 
        //- h1 Wow whatta clothes
        div(id='navbar')
            p The Digital Wardrobe
        h3 Digitize your closet
        main
            div(id='collections')
                div(id='addItem', class='item')
                    img(src="./assets/plus.png", alt="")
                    p(id='title') Add New Item

                each item in wardrobe
                    div(id='addItem', class='item', _id=item._id, onclick=`openItem('${item._id}')`)
                        img(src="./assets/plus.png", alt="")
                        p(id='title')= item.title
                //- div(id='addItem', class='item')
                //-     img(src="./assets/plus.png", alt="")
                //-     p(id='title') Black Jeans
                //- div(id='addItem', class='item')
                //-     img(src="./assets/plus.png", alt="")
                //-     p(id='title') Floral Skirt
                //- div(id='addItem', class='item')
                //-     img(src="./assets/plus.png", alt="")
                //-     p(id='title') Pink Skirt
                //- div(id='addItem', class='item')
                //-     img(src="./assets/plus.png", alt="")
                //-     p(id='title') Green 
        div(id='backdrop')
        div(id='itemAddPopup')
            form(action = '/addItem', method = 'POST')
                p
                    input(name='title', value='', type='text', placeholder='Title' required)
                p
                    textarea(name='description', value='', type='text', placeholder='Description', cols="34", rows="8" required)
                input(id='submit', value='Add', type='submit')
    script
        include ./index.js